


<nav class="navbar navbar-expand-lg navbar-light" style="background-color: bisque; font-style: italic;">
    <div class="container-fluid d-flex justify-content-between align-items-center">
      <!-- Dropdown Menu -->
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          Choose the Scheme
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            

          <li><a class="dropdown-item" [routerLink]="['scholarship']">Education Scholarship</a></li>
          <li><a class="dropdown-item" [routerLink]="['denture']">Dentures</a></li>
          <li><a class="dropdown-item" [routerLink]="['spectacle']">Spectacles</a></li>
          <li><a class="dropdown-item" [routerLink]="['medical']">Medical Assistance</a></li>
          <li><a class="dropdown-item" [routerLink]="['maintenance']">Maintenance Grant</a></li>
          <li><a class="dropdown-item" [routerLink]="['motor']">Motorized Tricycle </a></li>
          <li><a class="dropdown-item" [routerLink]="['physically']">physically challenged</a></li>
          <li><a class="dropdown-item" [routerLink]="['deafmental']">Deaf and Mentally Retarded </a></li>
          <li><a class="dropdown-item" [routerLink]="['kithkin']">Kith & Kin </a></li>
          <li><a class="dropdown-item" [routerLink]="['familyNorms']">Small Family Norms </a></li>
        </ul>
      </div>
  
      <!-- Centered Heading -->
      <div class="d-flex justify-content-center flex-grow-1">
        <h1>Employee</h1>
      </div>
  
      <!-- Logged in user name aligned to the right -->
      <div class="d-flex justify-content-end">
        <h5 style="font-style: italic; margin-right: 10px;">Logged in as: {{name}}</h5>
      </div>
    </div>
  </nav>
  




<app-userschems></app-userschems>
<!-- <app-formdrop></app-formdrop> -->

<!-- <app-scholarship-form></app-scholarship-form> -->
<!-- <app-dentures-form></app-dentures-form> -->

<!-- <app-medical-form></app-medical-form> -->

<!-- <app-spectacles-form></app-spectacles-form> -->
 <!-- <app-maintenance-grant-form></app-maintenance-grant-form> -->




   <!-- Router Outlet for Child Routes -->
   <router-outlet></router-outlet>
  