<!-- <div id="img" class="carousel slide" data-ride="carousel">

    <ul class="carousel-indicators">
        <li data-target="#img" data-slide-to="0" class="active"></li>
        <li data-target="#img" data-slide-to="1"></li>
        <li data-target="#img" data-slide-to="2"></li>
        <li data-target="#img" data-slide-to="3"></li>
    </ul>


    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://slideworks-cms.imgix.net/Mc_Kinsey_SCR_Framework1_fc46f67624.png?auto=format&w=1600&q=85" alt="pic1.jpg">
        </div>
        <div class="carousel-item">
            <img src="https://slideworks-website.s3.eu-west-1.amazonaws.com/Getting_to_the_so_what_cover2_6757006d7a.jpg" alt="pic2.jpg">
        </div>
        <div class="carousel-item">
            <img src="https://slideworks-cms.imgix.net/Mc_Kinsey_SCR_Framework1_fc46f67624.png?auto=format&w=1600&q=85" alt="pic3.jpg">
        </div>
        <div class="carousel-item">
            <img src="https://slideworks-website.s3.eu-west-1.amazonaws.com/Getting_to_the_so_what_cover2_6757006d7a.jpg" alt="pic4.jpg">
        </div>
    </div>
    <a class="carousel-control-prev" href="#img" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#img" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div><br> -->

<!-- 
<div class="carousel-container">
   
    <div class="carousel-item" *ngFor="let item of items; let i = index">
      <div *ngIf="i === currentIndex">
        <img [src]="item.src" [alt]="item.alt" />
      </div>
    </div>
 
    <button class="prev" (click)="prev()">&#10094;</button>
    <button class="next" (click)="next()">&#10095;</button>
  
    
    <div class="dots">
      <span
        *ngFor="let item of items; let i = index"
        (click)="goToSlide(i)"
        [class.active]="i === currentIndex"
        class="dot"
      ></span>
    </div>
  </div>
   -->