<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
      Choose the Scheme
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li><a class="dropdown-item" [routerLink]="'/scholarship'">Education Scholarship</a></li>
      <li><a class="dropdown-item" [routerLink]="'/denture'">Dentures</a></li>
      <li><a class="dropdown-item" [routerLink]="'/spectacle'">Spectacles</a></li>
      <li><a class="dropdown-item" [routerLink]="'/medical'">Medical Assistance</a></li>
      <li><a class="dropdown-item" [routerLink]="'/maintenance'">Maintenance Grant</a></li>
      <li><a class="dropdown-item" [routerLink]="'/motor'">Motorized Tricycle </a></li>
      <li><a class="dropdown-item" [routerLink]="'/physically'">physically challenged</a></li>
      <li><a class="dropdown-item" [routerLink]="'/deafmental'">Deaf and Mentally Retarded </a></li>
      <li><a class="dropdown-item" [routerLink]="'/kithkin'">Kith & Kin </a></li>
      <li><a class="dropdown-item" [routerLink]="'/familyNorms'">Small Family Norms </a></li>
    </ul>
  </div>
  