/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";


body{
    /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYnuPSFVkJllFvXnPJSlGoGgi0H_5P1utaYwYL5VEt9GCT9FnlqjTE5549x0c_Ryns6bA&usqp=CAU); */
    /* background-image: url(https://cdn.daily-sun.com/public/news_images/2021/07/02/Metro_rail.PNG); */
   /* background-repeat: no-repeat;
    background-size:100% 100%; 
    height: 100vh;
    background-color:brown; */

}