
<div class="bgImg">  
            
    <div class="container">
        <h2  class="text-center" style=" font-style: italic ; font-weight: bold;color:black;padding-top: 20px; ">Recreation & amusement</h2>
        
        <!-- Loop through the skillDevelopmentSchemes array and display each scheme -->
        <div class="row" style="margin-top: 40px;">
         
    
              <div *ngFor="let scheme of recreationAmusement; let i = index" class="col-md-4 mb-4">
                <div class="scheme-card">
                  <!-- Scheme Index (Optional) -->
                  <div class="scheme-index">
                    <h5>{{scheme.title}} -> {{i + 1 }}</h5> 
                  </div>
      
             
      
              
              <div class="scheme-body">
                <p><strong>TItle:</strong> {{ scheme.title }}</p><br/>
                <p><strong>Eligibility:</strong> {{ scheme.eligible }}</p><br/>
                
            
                <p><strong>Eligibility Amount:</strong> <span [innerHTML]="scheme.priceOfCamp "></span></p>
              
              </div>
      
              <!-- View Scheme Button -->
              <div class="scheme-footer">
                <button class="btn btn-primary" (click)="apply()">
                 Apply
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
   